.i {
  display: flex;
  height: 90vh;
  width: 100%;
  border-bottom: 2px solid #000;
}

.i-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #000;
  background-color: #bafca2;
}

html {
  scroll-behavior: smooth;
}

.i-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  background-color: #a388ee;
}

.i-img {
  width: 40vw;
  max-width: 650px;
  aspect-ratio: 1;
  object-fit: fill;
}

.i-left-wrapper {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  flex: 1;
}

.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 50px;
}

.i-title {
  height: 50px;
  width: fit-content;
  overflow: hidden;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 12px;
  border-left-color: #a388ee;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  30% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #333333;
}

.i-desc {
  font-size: 15px;
  margin-top: 30px;
}

.i-img {
  animation: fadein 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
  }

  .i-name {
    font-size: 50px;
  }

  .i-title-item {
    font-size: 25px;
  }

  .i-desc {
    display: none;
  }

  .i-img {
    height: 105%;
  }
}
