.p {
  width: 400px;
  height: fit-content;
  margin: 20px 13px;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
}

.p:hover {
  animation: pulse 0.5s linear;
}

.p:hover .p-details {
  color: #000;
}

.p-img {
  width: 100%;
  object-fit: contain;
}

.p-info {
  width: 100%;
}

.p-title {
  font-size: 25px;
  font-weight: 600;
}

.p-details {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  text-align: left;
  line-height: 25px;
}

.project-technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.p:hover .project-technologies-container {
  visibility: hidden;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 100%;
  }

  .p-title {
    font-size: 18px;
  }

  .p-details {
    font-size: 13px;
  }
}
