.p {
  width: 350px;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;
}

.p:hover {
  animation: pulse 0.4s linear;
  box-shadow: 4px 4px #000;
}

.p-img {
  width: 100%;
  object-fit: contain;
}

.p-title {
  font-size: 20px;
  font-weight: 600;
}

.p-details {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
}

.project-technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 100%;
  }

  .p-title {
    font-size: 18px;
  }

  .p-details {
    font-size: 13px;
  }
}
