.article-container {
  width: 350px;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #bafca2;
}

.article-container:hover {
  animation: pulse 0.5s linear;
  box-shadow: 4px 4px #000;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

.date {
  position: absolute;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #fff;
}

.article-image {
  width: 100%;
  object-fit: contain;
}

.article-title {
  font-size: 20px;
  font-weight: 600;
}

.article-description {
  font-size: 15px;
  line-height: 25px;
}

@media screen and (max-width: 480px) {
  .article-container {
    width: 100%;
  }

  .article-title {
    font-size: 18px;
  }

  .article-description {
    font-size: 13px;
  }
}
