.pa{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pa-texts{
    width: 65%;
}

.pa-title{
    font-size: 50px;
    font-weight: 600;
}

.pa-desc{
    margin: 20px 0px;
    font-size: 25px;
}

.pa-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}