.o{
    width: 23%;
    margin: 20px 30px;
    overflow: hidden;
}

.o-img{
    width: 100%;
    object-fit: contain;
}

.o-info{
    width: 100%;
    align-items: center;
}

.o-title{
    font-size: 20px;
    margin-top: 10px;
}

.o-category{
    width:fit-content;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.o-details{
    font-size: 15px;
    height: 100%;
    margin: 10px;
    text-align:left;
    text-align: left;
}


@media screen and (max-width: 480px) {
    .o{
        width: 100%;
        align-items: center;
    }

    .o-title{
        font-size: 18px;
    }

    .o-details{
        font-size: 13px;
        text-align: center;
    }

}


