.sl {
  border-bottom: 2px solid #000;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1fa095;
  gap: 50px;
}

.sl-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

@media screen and (max-width: 480px) {
}
