.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  display: block;
  font-weight: 500;
  padding: 10px;
  margin-top: 0;
  margin-right: 10px;
  color: #fff;
  position: relative;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #19d3da;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-link:hover {
  color: #19d3da;
  transform: translateY(-5px);
}

.nav-link:hover::before {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    background-color: #0d1b2a;
    z-index: 3;
    border-radius: 10px;
    position: fixed;
    right: 30px;
    border: 1px solid #fff;
    transition: bottom 0.5s ease-out; /* Add the transition property */
  }

  .fab-open {
    bottom: 90px;
  }

  .fab-close {
    bottom: -1000px;
  }
}
