.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  background-color: #1fa095;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 16px;
  display: block;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  position: relative;
  transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-link:hover {
  color: #fff;
  transform: translateY(-5px);
}

.nav-link:hover::before {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    z-index: 3;
    border-radius: 10px;
    position: fixed;
    right: 30px;
    border: 3px solid #000;
    box-shadow: 4px 4px #000;
    transition: bottom 0.5s ease-out;
  }

  .fab-open {
    bottom: 90px;
  }

  .fab-close {
    bottom: -1000px;
  }
}
