.ai {
  width: 8vw;
  border: 1px solid #000;
  background-color: #f2f24c;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.ai:hover {
  box-shadow: 4px 4px #000;
}

.ai-img {
  width: 80%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid #000;
}

.ai-title {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .ai {
    width: 20%;
    margin: 10px;
  }

  .ai-title {
    font-size: 12px;
    word-wrap: break-word;
  }
}
